@import 
url('styles/header.css');
@import 
url('styles/sectionOne.css');
@import 
url('styles/sectionTwo.css');
@import 
url('styles/sectionTree.css');
@import 
url('styles/sectionFour.css');
@import 
url('styles/sectionFive.css');
@import
url('styles/footer.css');

:root {
    --font-family: "Inter", sans-serif;
    --second-family: "Inika", sans-serif;
    --third-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1220px;
    width: 85%;
    height: 100%;
    margin: 0 auto;
}




